.ddsmoothmenu
{
	font-family: "Segoe UI" , Arial, Helvetica, Verdana, sans-serif;
	font-size:12px;
	width: 100%;
}

.ddsmoothmenu ul
{
	z-index: 100;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/*Top level list items*/
.ddsmoothmenu ul li
{
	position: relative;
	display: inline;
	float: left;
	height: 35px;
	line-height: 35px;
}

/*Top level menu link items style*/
.ddsmoothmenu ul li a
{
	display: block;
	color: white;
	text-transform:uppercase;
	font-weight:bold;
	/*background: url(menubar_line.png) right no-repeat;*/
	border-right:1px solid #0079aa;
	padding: 0px 20px;
	text-decoration: none;
	line-height: 35px;
}

* html .ddsmoothmenu ul li a
{
	/*IE6 hack to get sub menu links to behave correctly*/
	display: inline-block;
}

.ddsmoothmenu ul li a:link, .ddsmoothmenu ul li a:visited
{
	color: white;
}

.ddsmoothmenu ul li a.selected
{
	/*CSS class that's dynamically added to the currently active menu items' LI A element*/
	background:#0079aa; /* url(menubar_hover.png) repeat-x; */

}

.ddsmoothmenu ul li a:hover
{
	background:#0079aa; /* url(menubar_hover.png) repeat-x; */

}

/*1st sub level menu*/
.ddsmoothmenu ul li ul
{
	position: absolute;
	left: 0;
	display: none; /*collapse all sub menus to begin with*/
	visibility: hidden;
	background: #ffffff;
	border: 1px solid #009ad9;
	-moz-border-radius: 5px;
	border-radius: 0px 0px 2px 2px;
	padding: 0px 0px 0px 0px;
	color:#333; 
	z-index:9999;
	
}

/*Sub level menu list items (undo style from Top level List Items)*/
.ddsmoothmenu ul li ul li
{
	display: list-item;
	float: none;
	color:#333 !important; 
	height: 30px !important;
	line-height: 30px !important;
	z-index:9999;
}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.ddsmoothmenu ul li ul li ul
{
	top: 0px;
}

/* Sub level menu links style */
.ddsmoothmenu ul li ul li a
{
	font: normal 12px Arial !important;
	min-width: 200px; /*width of sub menus*/
	padding: 7px 10px;
	margin: 0;
	border-top-width: 0;
	border-right-width:0;
	border-bottom: 1px solid #009ad9;
	color:#333 !important; 
	text-transform:none !important;
	font-weight: normal !important;
	background:none !important;
}

.ddsmoothmenu ul li ul li:hover > a
{
	border-bottom: 2px solid #009ad9;
	color: #333 !important;
	background:#f2f2f2 !important;
}

/* Holly Hack for IE \*/
* html .ddsmoothmenu
{
	height: 1%;
}
/*Holly Hack for IE7 and below*/


/* ######### CSS classes applied to down and right arrow images  ######### */

.downarrowclass
{
	/*position: absolute;
	top: 12px;
	right: 7px;
	background-image: url('arrow-down.gif');
	background-repeat: no-repeat;
	width: 10px;*/
}

.rightarrowclass
{
	position: absolute;
	top: 6px;
	right: 0px;
	background-image: url('arrow-right.gif');
	background-repeat: no-repeat;
	width: 10px;
}

/* ######### CSS for shadow added to sub menus  ######### */

.ddshadow
{
	/*shadow for NON CSS3 capable browsers*/
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	height: 0;
	background: silver;
}

.toplevelshadow
{
	/*shadow opacity for NON CSS3 capable browsers. Doesn't work in IE*/
	opacity: 0.8;
}
