/**
 *********************************************
 * Prototype of styles for horizontal CSS-menu
 * @data 30.06.2009
 *********************************************
 * (X)HTML-scheme:
 *  <div id="menu">
 *      <ul class="menu">
 *          <li><a href="#" class="parent"><span>level 1</span></a>
 *              <ul>
 *                  <li><a href="#" class="parent"><span>level 2</span></a>
 *                      <ul><li><a href="#"><span>level 3</span></a></li></ul>
 *                  </li>
 *              </ul>
 *          </li>
 *          <li class="last"><a href="#"><span>level 1</span></a></li>
 *      </ul>
 *  </div>
 *********************************************
 */

/* menu::base */
div#menu {
    height:25px;
  /*  background:url(images/main-bg.png) repeat-x; */
}

div#menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
}
div#menu ul.menu {
    padding-left: 0px;
}

div#menu li {
    position: relative;
    z-index: 9;
    margin: 0;
    padding: 0 0px 0 0;
    display: block;
    float: left;
}
div#menu li:hover>ul {
    left: 0px;
}

div#menu a {
    position: relative;
    z-index: 10;
    height: 25px;
    display: block;
    float: left;
    line-height: 25px;
    text-decoration: none;
    font: normal 12px Arial;
}
div#menu a:hover, div#menu a:hover span { color: #ff0000; }
div#menu li.current a {}

div#menu span {
    display: block;
    cursor: pointer;
 }
div#menu ul ul a.parent span {

}
div#menu ul ul a.parent:hover span {

}

/* menu::level1 */
div#menu a {
    padding: 0 10px 0 10px;
    line-height: 25px;
    color: #436394;
}
div#menu span {
    margin-top: 0px;
}/**@replace#1*/
div#menu li  
{
    }
div#menu li.last { background: none; }

/* menu::level2 */
div#menu ul ul li { background: none; }
div#menu ul ul {
    position: absolute;
    top: 20px;
    left: -999em;
    width: 250px;
    padding: 5px 0 0 0;
    
    
    background:#f0f2f4;
	filter: alpha(opacity=90);
    -moz-opacity: 0.9;
	-khtml-opacity: 0.9;
	opacity: 0.9;
	
    margin-top:1px;
    border: solid 1px #d2d8de;
}
div#menu ul ul a {
    padding: 0 0 0 0px;
    height: auto;
    float: none;
    display: block;
    line-height: 24px;
    color: #436394;
}
div#menu ul ul span {
    margin-top: 0;
    padding-right: 15px;
    _padding-right: 15px;
    color: #436394;
}
div#menu ul ul a:hover span {
    color: #ff0000;
}
div#menu ul ul li.last { background: none; }
div#menu ul ul li 
{
    border-top: solid 1px #f6f7f9;
	border-bottom: solid 1px #dde1e4;
    width: 100%;
}

/* menu::level3 */
div#menu ul ul ul {
    padding: 0;
    margin: 0px 0 0 250px !important;
    margin-left:172px;
}

/* colors */
div#menu ul ul ul { background: rgb(41,41,41); }
div#menu ul ul ul ul { background: rgb(38,38,38); }
div#menu ul ul ul ul { background: rgb(35,35,35); }

/* lava lamp */
div#menu li.back {
    background: url(images/lava.png) no-repeat right -44px !important;
    background-image: url(images/lava.gif);
    width: 13px;
    height: 25px;
    z-index: 8;
    position: absolute;
    margin: -1px 0 0 -5px;
}
div#menu li.back .left {
    background: url(images/lava.png) no-repeat top left !important;
    background-image: url(images/lava.gif);
    height: 44px;
    margin-right: 8px;
}

