USE [dbDataEnergy]
GO
/****** Object:  Table [dbo].[DE_Area]    Script Date: 12/3/2020 10:41:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DE_Area](
	[Id] [int] NOT NULL,
	[AreaName] [nvarchar](500) NULL,
	[ParentId] [int] NULL,
	[IsStatus] [int] NULL,
	[SortOrder] [int] NULL,
	[IsDelete] [bit] NULL,
	[LinhVuc] [nvarchar](1000) NULL,
	[PhanLoai] [nvarchar](1000) NULL,
	[Mau1x] [nvarchar](50) NULL,
	[Mau2x] [nvarchar](50) NULL,
	[MainAreaId] [int] NULL,
 CONSTRAINT [PK_tbLinhVuc] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DE_Area] ([Id], [AreaName], [ParentId], [IsStatus], [SortOrder], [IsDelete], [LinhVuc], [PhanLoai], [Mau1x], [Mau2x], [MainAreaId]) VALUES (1, N'NÔNG NGHIỆP, LÂM NGHIỆP VÀ THUỶ SẢN', 0, 1, 1, 0, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[DE_Area] ([Id], [AreaName], [ParentId], [IsStatus], [SortOrder], [IsDelete], [LinhVuc], [PhanLoai], [Mau1x], [Mau2x], [MainAreaId]) VALUES (2, N'Nông nghiệp và hoạt động dịch vụ có liên quan', 1, 1, 1, 0, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[DE_Area] ([Id], [AreaName], [ParentId], [IsStatus], [SortOrder], [IsDelete], [LinhVuc], [PhanLoai], [Mau1x], [Mau2x], [MainAreaId]) VALUES (3, N'Trồng cây hàng năm', 2, 1, 1, 0, NULL, NULL, NULL, NULL, NULL)
GO
ALTER TABLE [dbo].[DE_Area] ADD  CONSTRAINT [DF_DE_Area_IsDelete]  DEFAULT ((0)) FOR [IsDelete]
GO
