.tab_title {
   
}

.shadetabs
{
    padding:6px 0 0 0;
    margin:0 0 0 5px ;
    font: bold 12px Arial;
    list-style-type: none;
    text-align: left; /*set to left, center, or right to align the menu as desired*/
}

.shadetabs li
{
    display: inline;
    margin:0 0px 0 0;
}

.shadetabs li a
{
    text-decoration: none;
    position: relative;
    z-index: 1;
    padding:3px 10px;
    margin-right: 2px;
    -moz-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
	 -moz-border-radius: 3px 3px 0 0; /* Firefox */  
    -webkit-border-radius: 3px 3px 0 0; /* Safari, Chrome */  
    color: #000;
    /*background: url("tab_other.png") repeat-x scroll left bottom transparent;*/
    background-color:#c1c1c1;

}

.shadetabs li a:visited
{
    color: #000;
}

.shadetabs li a:hover
{
    text-decoration: none;
    color: #000;
}

.shadetabs li a.selected
{
    /*selected main tab style */
    position: relative;
    color:#000;

}

.shadetabs li a.selected
{
    /*selected main tab style 
    background: url("tab_other_active.png") repeat-x scroll left bottom transparent;*/
    background-color:#ffaf04;
}

.shadetabs li a.selected:hover
{
    /*selected main tab style */
    text-decoration: none;
}

.tabcontent
{
    display: none;
    font:normal 12px Arial;
    color:#000;
}

@media print
{
    .tabcontent
    {
        display: block !important;
    }
}

.tab-block .nav-tabs > li > a {
    background: #fafafa none repeat scroll 0 0;
    border-color: #e7e7e7;
    border-radius: 0;
    color: #777;
    font-weight: 600;
    margin-right: -1px;
    padding: 8px 16px;
    position: relative;
    z-index: 9;
    border-bottom: 1px solid #e7e7e7;
}

.tab-block .nav-tabs > li a.selected
{
    /*selected main tab style 
    background: url("tab_other_active.png") repeat-x scroll left bottom transparent;*/
    /*background-color:#ffaf04;*/
    background-color:#fff;
    border-top: 2px solid #666;
}

.tab-block .nav-tabs > li a.selected:hover
{
    /*selected main tab style */
    text-decoration: none;
}
.tab-block .tab-content {
    background-color: #fff;
    border: 1px solid #e7e7e7;
    border-bottom: 0px solid #e7e7e7;
    min-height: 125px;
    overflow: auto;
    padding: 16px 12px;
    position: relative;
    z-index: 10;
}