/* back to top */
#back-top {
	position: fixed;
	bottom: 0;
	right:10px;
	width: 28px;
	text-align: right;
	clear: both;
}
#back-top a {
	color: #ada597;
	text-transform: uppercase;
	text-decoration: none;
	-webkit-transition: background-color .7s;
	-moz-transition: background-color .7s;
	-o-transition: background-color .7s;
	transition: background-color .7s;
}
#back-top a:hover {
	color: #615349;
}
#back-top em {
	font-size: 12px;
	font-family: "Segoe UI" , Arial, Helvetica, Verdana, sans-serif;
	letter-spacing: 1px;
	float: right;
}
#back-top span {
	width: 28px;
	height: 28px;
	background: url(../images/nav-icons.png) no-repeat -8px -577px;
	background-color: rgba(220,220,220,1);
	display: block;
	float: left;
	cursor: pointer;
	margin: -4px 0 0 0px;
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
}
#back-top a:hover span {
	background-color: #f5ec82;
	background-color: rgba(245,236,130,.8);
}
