#treeMenu
{
    width: 100%;
    text-align: left;
    padding:0px 0 5px;
   /* background: url(bg_nav.jpg) bottom #f4f4f4 no-repeat;*/
   background-color:#fff;
}
#treeMenu h2
{
    font: bold 20px;
    color: #454545;
    margin-bottom: 12px;
}
#treeMenu ul
{
    list-style: none;
    font: 12px Arial,Verdana;
    margin: 0;
    padding: 0;
}
#treeMenu ul li
{
    overflow: hidden;
    margin: 4px 0;
    list-style-type: none;
   /* background: url(cat.png) no-repeat top left;*/
   background:#fafafa;
}

#treeMenu ul li:hover
{
    color: #fe6102;
}
#treeMenu ul li span
{
    display: inline-block;
    float: left;
    width: 100%;
    height: 35px;
    background: url(add_large_icon.jpg) no-repeat right 10px;
}


#treeMenu ul li a
{
    color: #0539a0;
    display: inline-block;
    text-decoration: none;
    float: left;
    line-height: 35px !important;
    font-weight: bold;
    font-size: 13px;
    margin-left: 8px;
}
#treeMenu ul li a :hover
{
    color: #fe6102;
}
#treeMenu ul li span.opened
{
    background: url(sub_large_icon.jpg) no-repeat right 10px;
}
#treeMenu ul li .closed a:hover
{
    color: #fe6102;
}
#treeMenu ul li div
{
    clear: both;
    height: auto;
}
#treeMenu ul li li
{
    background: none !important;
    border: 0;
    margin: 0;
    padding-left: 10px;
    border-bottom: solid 1px #fff;
    border-top: solid 1px #eee;
    clear: both;
}
#treeMenu ul li li a
{
    color: #333333;
    font-size: 13px;
    float: left;
    width: auto;
    text-decoration: none !important;
}
#treeMenu ul li li a:hover
{
    text-decoration: underline;
    color: #fe6102;
}
#treeMenu ul li li span
{
    float: left;
    display: inline;
}
#treeMenu ul li li span.closed
{
    cursor: pointer;
}
#treeMenu ul li li span.closed.opened
{
}
#treeMenu ul li li li
{
    border-bottom: solid 1px #fff;
    border-top: solid 1px #eee;
    background: none !important;
}
.rightPrt
{
    position: absolute;
    left: 324px;
    top: 274px;
}
div.link
{
    width: 322px;
    height: 255px;
    float: left;
    display: inline;
}
div.link a
{
    width: 100%;
    height: 100%;
    display: block;
    text-decoration: none;
    outline: none 0;
}



/* update Menuleft: ducnmi */
.parent_2
{
    background: url(arrow_sub.png) no-repeat left !important;
    padding-left: 6px;
}

.parent_3
{
    background: url(add_small_icon.png) no-repeat left !important;
    padding-left: 10px;
    margin-left: 0px;
}

.parent_3.opened
{
    background: url(sub_small_icon.png) no-repeat left !important;
    padding-left: 10px;
    margin-left: 0px;
}

.parent_4_ul
{
    background: #ffffff !important;
    margin-left: 20px !important;
}

.f_normal
{
    font-weight: normal !important;
}
.parent_4
{
    background: none !important;
}

.selected
{
    color: #fe6102 !important;
    font-weight:bold !important;   
}

