<appSettings>
  <add key="TieuDe" value="Trung tâm điều độ điện quốc gia - NLDC" />

  
  <!-- Cấu hình hiển thị trên trang chủ -->
  <add key="ViewAnnounce" value="1" />
  <add key="ViewNewsCate" value="1" />
  <add key="ViewTaskWeek" value="1" />
  <add key="ViewTaskOther" value="1" />
  <add key="ViewForum" value="0" />
  <add key="ViewOfficial" value="1" />
  
  <!-- Cấu hình Panel Right hiển thị trên trang chủ-->
  <add key="ViewBlockMenuLink" value="1" />
  <add key="ViewBlockHotNews" value="1" />
  <add key="ViewBlockAnnounce" value="1" />
  <add key="ViewBlockAlbums" value="1" />
  <add key="ViewBlockVideo" value="1" />
  <add key="ViewBlockSupport" value="1" />
  <add key="ViewBlockHappyBirthDay" value="1" />
  <add key="ViewBlockWebLink" value="1" />
  <add key="ViewBlockAdvMore" value="1" />
  <add key="ViewBlockCounter" value="1" />
  
  <!-- Cấu hình số lượng tin -->
  <add key="numberAnnounce" value="10" /> <!-- Thông báo -->
  <add key="numberNewsCate" value="5" />  
  <add key="numberHotNews" value="10" />
  <add key="numberShortAnnounce" value="10" />
  <add key="numberOfficial" value="10" />

  <add key="sWebRoot" value="http://localhost:51738/" />
  <add key="sThumbImage" value="http://localhost:51738//Web_Public/" />
  <add key="EnableSmallImage" value="1"/>
</appSettings>
