<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="RewriterConfig" type="URLRewrite.Config.RewriterConfigSerializerSectionHandler, URLRewrite"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <log4net debug="true">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="UserFile\\Logs\\eed.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </root>
  </log4net>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--<add name="ServerName" connectionString=".\SQL2014"/>
    -->
    <!--<add name="ServerName" connectionString="."/>-->
    <!--
    <add name="DatabaseName" connectionString="dbEED_v2"/>
    <add name="UserID" connectionString="sa"/>
    <add name="Password" connectionString="cuongit85"/>
    <add name="SMTPServer" connectionString="."/>-->
    <!--<add name="ServerName" connectionString=".\SQL2014"/>
    <add name="DatabaseName" connectionString="beta_dataenergy"/>
    <add name="UserID" connectionString="sa"/>
    <add name="Password" connectionString="evn@123456"/>
    <add name="SMTPServer" connectionString="."/>-->
    <add name="ServerName" connectionString="(local)\sql2k17express"/>
    <add name="DatabaseName" connectionString="dbDataEnergy"/>
    <add name="UserID" connectionString="sa"/>
    <add name="Password" connectionString="sa@12345"/>
    <add name="ReportModels" connectionString="data source=(local)\sql2k17express;initial catalog=dbDataEnergy;persist security info=True;user id=sa;password=sa@12345;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!--<add key="ConnectString" value="server=.\sql2008;uid=sa;pwd=123456;database=dbDataEnergy_v2;"/>-->
    <!--<add key="ConnectString" value="server=.\SQL2014;uid=sa;pwd=evn@123456;database=beta_dataenergy;"/>-->
    <!--<add key="ConnectString" value="server=mssql177wn.dotvndns.vn;uid=eed_user;pwd=Luel78!3;database=beta_dataenergy_vn_eed;"/>-->
    <add key="ConnectString" value="server=(local)\sql2k17express;uid=sa;pwd=sa@12345;database=dbDataEnergy;"/>
    <add key="DefaultPassword" value="evn@123456"/>
    <add key="sWebRoot" value=""/>
    <add key="sDomain" value="http://localhost:8198"/>
    <add key="sThumbImage" value="http://localhost:8198/"/>
    <add key="AspNetCacheTime" value="150"/>
    <!--<add key="AspNetCacheTime" value="1"/>-->
    <add key="EnableSmallImage" value="1"/>
    <add key="isLogin" value="0"/>
    <add key="LdapDomain" value=""/>
    <add key="isLDAP" value="1"/>
    <add key="Multi_Domain_Trusted" value="1"/>
    <!--Set default cache time -->
    <add key="AspNetCacheTime" value="360"/>
    <!--Set value smtp mail-->
    <add key="smtpServer" value=""/>
    <add key="smtpPort" value="587"/>
    <add key="urs" value=""/>
    <add key="pwd" value=""/>
    <add key="enableSsl" value="false"/>
    <add key="displayName" value=""/>
    <add key="fromAddress" value=""/>
    <add key="IMAGE_FOLDER" value="Upload\\"/>
    <!-- Log Severity. Options are: Debug, Info, Warning, Error, Warning, or Fatal -->
    <add key="log4net.Internal.Debug" value="true"/>
    <add key="LogSeverity" value="Debug"/>
    <add key="CurrentLanguage" value="iv"/>
    <add key="TitlePage" value=""/>
    <add key="DomainName" value=""/>
    <add key="FTPAdress" value=""/>
    <add key="SSO_DOMAIN" value=""/>
    <add key="SiteName" value="websam"/>
    <add key="maxStatus" value="4"/>
    <add key="mediaUrl" value="media"/>
    <add key="mediaPath" value="media"/>
    <add key="CMS_URL" value=""/>
    <add key="editableFileTypes" value=".txt .aspx .ascx .asax .cs .vb .js .config .asa .asp .aspx .aspxl .cfm .css .inc "/>
    <add key="imageFileTypes" value=".gif .jpg .jpeg .bmp .psd .tiff .tif .png"/>
    <add key="musicFileTypes" value=".mp3 .mp2 .mp1 .wav .wma .cda .aif .aiff .au .snd .flv"/>
    <add key="mediaFileTypes" value=".flv .avi .mpg .dat .vob .3gp .wmv .asf .mp4 .mov .3gp"/>
    <add key="KeywordsNews" value="Cung cap giai phap ve Website chuyen nghiep, dich vu hosting, dich vu thiet ke, thiet ke chuyen nguyen, giai phap tin cay"/>
    <add key="KeywordsClassified" value=""/>
    <add key="WSCMIS.service_capdien" value="http://192.168.1.6/Servicecapdiendvu/service_capdien.asmx"/>
  </appSettings>
  <!-- Rewriter configuration -->
  <RewriterConfig>
    <Rules>
      <!-- Rules for default module -->
      <RewriterRule>
        <LookFor>~/</LookFor>
        <SendTo>~/Default.aspx?go=home</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/Default.aspx</LookFor>
        <SendTo>~/Default.aspx?go=home</SendTo>
      </RewriterRule>
      <!--Login-->
      <RewriterRule>
        <LookFor>~/Admin/Login.aspx</LookFor>
        <SendTo>~/Client/Admin/Login.aspx</SendTo>
      </RewriterRule>
      <!--Check Mobile-->
      <RewriterRule>
        <LookFor>~/mobile.aspx</LookFor>
        <SendTo>~/Default.aspx?m=true</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/ForgetPass.aspx</LookFor>
        <SendTo>~/Client/Admin/UserAdmin/ForgetPass.aspx</SendTo>
      </RewriterRule>
      <!-- All Module Frontend -->
      <RewriterRule>
        <LookFor>~/f/([_0-9a-z-]+)/([_0-9a-z-]+)-(\d{1,12}).aspx</LookFor>
        <SendTo>~/Default.aspx?go=$1&amp;g=$3&amp;title=$2</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/c2/([_0-9a-z-]+)/([_0-9a-z-]+)-(\d{1,12}).aspx</LookFor>
        <SendTo>~/Default.aspx?go=$1&amp;g=$3&amp;title=$2</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/c3/([_0-9a-z-]+)/([_0-9a-z-]+)-(\d{1,12})-(\d{1,12}).aspx</LookFor>
        <SendTo>~/Default.aspx?go=$1&amp;g=$3&amp;cid=$4&amp;title=$2</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/d5/([_0-9a-z-]+)/([_0-9a-z-]+)-(\d{1,12})-(\d{1,12})-(\d{1,12}).aspx</LookFor>
        <SendTo>~/Default.aspx?go=$1&amp;g=$3&amp;id=$4&amp;error=$5&amp;title=$2</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/d6/([_0-9a-z-]+)/([_0-9a-z-]+)-(\d{1,12})-(\d{1,12})-(\d{1,12}).aspx</LookFor>
        <SendTo>~/Default.aspx?go=$1&amp;g=$3&amp;cid=$4&amp;id=$5&amp;title=$2</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/d4/([_0-9a-z-]+)/([_0-9a-z-]+)-(\d{1,12})-(\d{1,12}).aspx</LookFor>
        <SendTo>~/Default.aspx?go=$1&amp;g=$3&amp;id=$4&amp;title=$2</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/d3/([_0-9a-z-]+)/([_0-9a-z-]+)-(\d{1,12}).aspx</LookFor>
        <SendTo>~/Default.aspx?go=$1&amp;id=$3&amp;title=$2</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/News/PrintNews/(\d{1,12})/Default.aspx</LookFor>
        <SendTo>~/Client/Modules/News/Printnewsroup.aspx?Id=$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/h/([_0-9a-z-]+)/tin-noi-bat-(\d{1,12}).aspx</LookFor>
        <SendTo>~/Default.aspx?go=$1&amp;g=$2</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/t/([_0-9a-z-]+)/([_0-9a-z-]+)-(\d{1,12}).aspx</LookFor>
        <SendTo>~/Default.aspx?go=$1&amp;g=$3&amp;title=$2</SendTo>
      </RewriterRule>
      <!-- End All Module Frontend -->
      <!-- Tags -->
      <RewriterRule>
        <LookFor>~/tags/([_0-9a-z-]+)-(\d{1,12}).aspx</LookFor>
        <SendTo>~/Default.aspx?go=tags&amp;g=$2&amp;title=$1</SendTo>
      </RewriterRule>
      <!-- Rules for Sitemap -->
      <RewriterRule>
        <LookFor>~/Sitemap/Default.aspx</LookFor>
        <SendTo>~/Default.aspx?go=sitemap</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/Sitemap.aspx</LookFor>
        <SendTo>~/Default.aspx?go=sitemap</SendTo>
      </RewriterRule>
      <!-- Rules for Contact -->
      <RewriterRule>
        <LookFor>~/Contact/Default.aspx</LookFor>
        <SendTo>~/Default.aspx?go=contact</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/Contact.aspx</LookFor>
        <SendTo>~/Default.aspx?go=contact</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/ContactSucceed/Default.aspx</LookFor>
        <SendTo>~/Default.aspx?go=succeed</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/ContactSucceed.aspx</LookFor>
        <SendTo>~/Default.aspx?go=succeed</SendTo>
      </RewriterRule>
      <!-- Rules for Albums -->
      <RewriterRule>
        <LookFor>~/thu-vien-anh.aspx</LookFor>
        <SendTo>~/Default.aspx?go=listalbums</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/thu-vien-anh-(\d{1,12}).aspx</LookFor>
        <SendTo>~/Default.aspx?go=listalbums&amp;cId=$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/thu-vien-anh/([_0-9a-z-]+)-(\d{1,12}).aspx</LookFor>
        <SendTo>~/Default.aspx?go=detailalbums&amp;cId=$2&amp;title=$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/thu-vien-video.aspx</LookFor>
        <SendTo>~/Default.aspx?go=listvideos</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/thu-vien-video-(\d{1,12}).aspx</LookFor>
        <SendTo>~/Default.aspx?go=listvideos&amp;cId=$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/thu-vien-video/([_0-9a-z-]+)-(\d{1,12}).aspx</LookFor>
        <SendTo>~/Default.aspx?go=detailvideos&amp;cId=$2&amp;title=$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/thu-vien-videos/([_0-9a-z-]+)-(\d{1,12})-(\d{1,12}).aspx</LookFor>
        <SendTo>~/Default.aspx?go=detailvideos&amp;cId=$2&amp;id=$3&amp;title=$1</SendTo>
      </RewriterRule>
      <!--Rules for Search -->
      <RewriterRule>
        <LookFor>~/Search/(\w+)/Default.aspx</LookFor>
        <SendTo>~/Default.aspx?go=search&amp;keyword=$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/tim-kiem/(\w+([-+]\w+)*).aspx</LookFor>
        <SendTo>~/Default.aspx?go=search&amp;keyword_news=$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/tim-kiem/(\d{1,12})/(\w+([-+]\w+)*).aspx</LookFor>
        <SendTo>~/Default.aspx?go=search&amp;gId=$1&amp;keyword_news=$2</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/tim-kiem/(\d{1,12})/(\d{1,12})/(\w+([-+]\w+)*).aspx</LookFor>
        <SendTo>~/Default.aspx?go=search&amp;gId=$1&amp;cId=$2&amp;keyword_news=$3</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/tim-kiem/(\d{1,12})/search.aspx</LookFor>
        <SendTo>~/Default.aspx?go=search&amp;gId=$1</SendTo>
      </RewriterRule>
      <!-- Tags -->
      <RewriterRule>
        <LookFor>~/tags/([_0-9a-z-]+)-(\d{1,12}).aspx</LookFor>
        <SendTo>~/Default.aspx?go=tags&amp;g=$2&amp;title=$1</SendTo>
      </RewriterRule>
      <!--Rules for Admin -->
      <!--<RewriterRule>
        <LookFor>~/Admin/Index.html</LookFor>
        <SendTo>~/Homepage.aspx?dll=login</SendTo>
      </RewriterRule>-->
      <RewriterRule>
        <LookFor>~/Admin/([0-9a-zA-Z-_]+)/Default.aspx</LookFor>
        <SendTo>~/Homepage.aspx?dll=$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/Admin/([0-9a-zA-Z-_]+)/(\d{1,12})/Default.aspx</LookFor>
        <SendTo>~/Homepage.aspx?dll=$1&amp;id=$2</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/Admins/([0-9a-zA-Z-_]+)/([0-9a-zA-Z-_]+)/Default.aspx</LookFor>
        <SendTo>~/Homepage.aspx?dll=$1&amp;id=$2</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/Admin/Group/([0-9a-zA-Z-_]+)/(\d{1,12})/Default.aspx</LookFor>
        <SendTo>~/Homepage.aspx?dll=$1&amp;group=$2</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/Admin/p/([0-9a-zA-Z-_]+)/(\d{1,12})/Default.aspx</LookFor>
        <SendTo>~/Homepage.aspx?dll=$1&amp;p=$2</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/Admin/s/([0-9a-zA-Z-_]+)/(\d{1,12})/(\d{1,12})/Default.aspx</LookFor>
        <SendTo>~/Homepage.aspx?dll=$1&amp;id=$2&amp;subid=$3</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/Admin/([0-9a-zA-Z-_]+)/(\d{1,12})/(\d{1,12})/Default.aspx</LookFor>
        <SendTo>~/Homepage.aspx?dll=$1&amp;group=$2&amp;id=$3</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/Admin/r/([0-9a-zA-Z-_]+)/(\d{1,12})/(\d{1,12})/Default.aspx</LookFor>
        <SendTo>~/Homepage.aspx?dll=$1&amp;group=$2&amp;rid=$3</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/Admin/pid/([0-9a-zA-Z-_]+)/(\d{1,12})/(\d{1,12})/(\d{1,12})/Default.aspx</LookFor>
        <SendTo>~/Homepage.aspx?dll=$1&amp;group=$2&amp;id=$3&amp;pid=$4</SendTo>
      </RewriterRule>
      <!-- Rules for Send Mail-->
      <RewriterRule>
        <LookFor>~/MailNews/(\d{1,12})/Default.aspx</LookFor>
        <SendTo>~/Default.aspx?go=sendemailnews&amp;id=$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/MailNews/(\d{1,12})/(\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*)/Default.aspx</LookFor>
        <SendTo>~/Default.aspx?go=sendemailnews&amp;id=$1&amp;error=$2</SendTo>
      </RewriterRule>
      <!-- Rules for Dang ky truc tuyen-->
      <RewriterRule>
        <LookFor>~/Du-an.aspx</LookFor>
        <SendTo>~/Default.aspx?go=du-an-c</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/du-an-c/([0-9a-zA-Z-_]+)-t(\d{1,12}).aspx</LookFor>
        <SendTo>~/Default.aspx?go=du-an-c&amp;TypeId=$2&amp;TypeName=$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/du-an-c/([0-9a-zA-Z-_]+)-a(\d{1,12}).aspx</LookFor>
        <SendTo>~/Default.aspx?go=du-an-c&amp;AreaId=$2&amp;AreaName=$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/Dang-nhap.aspx</LookFor>
        <SendTo>~/Default.aspx?go=Dang-nhap</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/thong-tin-doanh-nghiep.aspx</LookFor>
        <SendTo>~/Default.aspx?go=thong-tin-doanh-nghiep</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/bao-cao-so-lieu-hang-nam-r(\d{1,12}).aspx</LookFor>
        <SendTo>~/Default.aspx?go=bao-cao-so-lieu-hang-nam&amp;ReportId=$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/quan-ly-bao-cao.aspx</LookFor>
        <SendTo>~/Default.aspx?go=quan-ly-bao-cao</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/quan-ly-bao-cao.aspx</LookFor>
        <SendTo>~/Default.aspx?go=quan-ly-bao-cao</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/doanh-nghiep.aspx</LookFor>
        <SendTo>~/Default.aspx?go=doanh-nghiep</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/bao-cao-so-kiem-toan-nl-(\d{1,12}).aspx</LookFor>
        <SendTo>~/Default.aspx?go=Bao-cao-kiem-toan-NL&amp;AuditReportId=$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/Danh-sach-bao-cao-ktnl.aspx</LookFor>
        <SendTo>~/Default.aspx?go=Danh-sach-bao-cao-ktnl</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/giai-phap-tknl.aspx</LookFor>
        <SendTo>~/Default.aspx?go=danh-muc-giap-phap-tknl</SendTo>
      </RewriterRule>
      <!--VIETNN-->
      <RewriterRule>
        <LookFor>~/dn-su-dung-nang-luong.aspx</LookFor>
        <SendTo>~/Default.aspx?go=dn-su-dung-nang-luong</SendTo>
      </RewriterRule>

      <RewriterRule>
        <LookFor>~/dn-lap-bao-cao(\d{1,12}).aspx</LookFor>
        <SendTo>~/Default.aspx?go=dn-lap-bao-cao&amp;ReportId=$1</SendTo>
      </RewriterRule>
      
      <RewriterRule>
        <LookFor>~/danh-muc-san-pham.aspx</LookFor>
        <SendTo>~/Default.aspx?go=danh-muc-san-pham</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/danh-sach-so-cong-thuong.aspx</LookFor>
        <SendTo>~/Default.aspx?go=danh-sach-so-cong-thuong</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/Pages/([_0-9a-z-]+).aspx</LookFor>
        <SendTo>~/Default.aspx?go=$1</SendTo>
      </RewriterRule>
    </Rules>
  </RewriterConfig>
  <system.web>
    <trace enabled="false"/>
    <xhtmlConformance mode="Transitional"/>
    <customErrors defaultRedirect="Error.aspx" mode="Off"/>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
    <!-- Set debug to "true" to test out the system in development -->
    <compilation debug="true" defaultLanguage="c#" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
        <add assembly="System.Drawing.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <httpHandlers>
      <add path="Telerik.Web.UI.WebResource.axd" verb="*" type="Telerik.Web.UI.WebResource, Telerik.Web.UI" validate="false"/>
      <add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false"/>
    </httpHandlers>
    <httpModules>
      <add name="ModuleRewriter" type="URLRewrite.ModuleRewriter, URLRewrite"/>
    </httpModules>
    <pages validateRequest="false" enableEventValidation="false" viewStateEncryptionMode="Never" enableViewStateMac="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <httpRuntime executionTimeout="12000" maxRequestLength="1024000" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100"/>
  </system.web>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="textWriterTraceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="UserFile\\Logs\\tracelog4net.txt"/>
      </listeners>
    </trace>
  </system.diagnostics>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <add name="ModuleRewriter" type="URLRewrite.ModuleRewriter, URLRewrite"/>
    </modules>
  </system.webServer>
</configuration>